body {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  background: linear-gradient(to left,#667eea,#764ba2 );
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
